.App {
    width: 80%;
    margin-left: 10%;
}

/* @media only screen and (min-width: 820px) {
    .App {
            width: 90%;
            margin-left: 5%;
        }
} */

@media only screen and (min-width: 360px) {
    .App {
        width: 117%;
        margin-left: 0;
    }

    .tablebtns {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        margin-left: 18px;
        margin-bottom: 10px;
    }

    .iconbtns {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2px;
        
    }
}

@media only screen and (min-width: 280px) {
    .App {
        width: 133%;
        margin-left: 0;
    }

    .tablebtns {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        margin-left: 18px;
        margin-bottom: 10px;
    }

    .iconbtns {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2px;
    }
}

